@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: green;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navlink {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 16px;
}

.underline {
  text-decoration: underline;
}

.signin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
}

.signin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.signup-button {
  width: 100px;
  height: 20px;
}